*/*****************************************
*
*     Occupy Elwood Stylesheet
*
*     White           : #fff
*     Red             : #c9302c
*     Blue (light)    : #118dd8
*     Blue (Mid)      : #386d90
*     Blue (Dark)     : #2c4961
*     Gray            : #8881a6
*     Green           : #46a78a
*     Black           : #262626
*
********************************************/

/*------------------------------------------
*  Base
------------------------------------------*/

body {
  color: #8881a6;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {

}
ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{

}
p{

}
a {
  color: #c9302c;
}
a:active,
a:hover,
a:focus {
  color: #8881a6;
}
em {
  color: #46a78a;
}
/*------------------------------------------
*  Hero
------------------------------------------*/
.hero {
  background-color: #386d90;
  color: #fff;
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
}
/*------------------------------------------
*  Logo
------------------------------------------*/
.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
/*------------------------------------------
*  News
------------------------------------------*/
.news-item {
  border-bottom: 1px solid #8881a6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news-link {
  color: #386d90;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}
.news-meta-item {
  display: inline;
  margin-right: 15px;
}
/*------------------------------------------
*  Container
------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 800px;
}
